<a href="https://colab.research.google.com/github/masavi4401/python/blob/master/Day_7_(24_06_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXAMPLE
sum of even numbers

In [0]:
def printeven(n):
  cnt=0;
  sum=0;
  while(cnt!=n):
    if(cnt%2==0):
     sum=sum+cnt;
    cnt=cnt+1;
  return sum;
print(printeven(20));

90

# EXAMPLE
Factors list of the given number

In [0]:
def factorsList(n):
    i = 1;
    while(i!=n):
        if(n%i==0):
            print(i);
        i = i + 1;
    return;

factorsList(12);

1
2
3
4
6

# EXAMPLE
List in python

In [0]:
list1=[1,2,3,4,5];
#Entire list
print(list1);
#List[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

LIST USING FOR LOOP

In [0]:
list2=["akki","arvi","ani","akas"];
for x in list2:
  print(x);

akki
arvi
ani
akas

In [0]:
#List example with particular index
lst1=[1,2,3,4,5,6,7]
for x in lst1:
  print(x)
print();
print(lst1[4]);
print(lst1[3:7]);
print(lst1[0:3]);
print(lst1[:3]);
print(lst1[:7]);

1
2
3
4
5
6
7
()
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [0]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for x in lst1:
  print(x)
print();
print(lst1[1:-1]);
print(lst1[2:-2]);
print(lst1[::2]);
print(lst1[::3]);
print(lst1[::-2]);
print(lst1[::4]);

1
2
3
4
5
6
7
8
9
10
()
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
[1, 5, 9]